body {
    font-family: "Comfortaa", sans-serif;
	margin: 0px;
	transition: background-color 0.5s;
}

/* Header */

#header {
    background-color: #1e2845;
	display: flex;
	justify-content: center;
	width: 100%;
}

h1 {
    font-family: 'Comfortaa', sans-serif; /* Applique la police Comfortaa */
    color: #fff; /* Couleur du texte en blanc */
	margin: 0;
	padding: 20px;
}

.h1-text {
    display: inline-block;
    vertical-align: middle;
}

h1 img {
    margin-right: 10px; /* Ajoute de l'espace entre l'image et le texte */
	vertical-align: middle;
	height: 150px;
}

.h1-first {
  background-color: #fff;
  color: #1e2845;
  text-transform: uppercase;
  padding: 12px 35px 5px 20px;
  font-weight: 600;
  float: left;
}

.h1-sec {
  border: 2px solid #fff;
  margin-top: 10px;
  float: left;
  color: #fff;
  padding: 12px 35px 5px 20px;
  font-weight: 300;
}

/* Tableau */

.tableFixHead {
	overflow-y: auto;
	max-height: 800px;
	border-bottom: 1px solid black;
	margin-right: 10px;
}
.tableFixHead thead th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
	background: white;
}

table img {
    height: 100px;
    width: auto;
}

table, td {
    border: 1px solid #333;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #7f062a;
    color: white;
}

td img {
    height: 100px;
    width: auto;
}

input[type="text"] {
    width: 100px; /* Vous pouvez ajuster cette valeur en fonction de la largeur souhaitée */
}

/* Comparateur */

#centerdiv {
    display: flex;
    justify-content: center;
	margin: 10px 0;
}

label {
	margin-left: 5px;
	transition: color 0.5s;
}

.image-select {
    width: 50px;
	margin-left: 5px;
}

#comparisonResult {
    display: flex;
    justify-content: space-evenly;
}

#image1, #image2 {
    width: 100%;
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

#toggleButton, #compareButton {
	cursor: pointer;
	margin-left: 25px;
}

figure.zoom {
	background-position: 50% 50%;
	border: 5px solid white;
	box-shadow: -1px 5px 15px black;
	width: 50%;
	height: auto;
	overflow: hidden;
	cursor: zoom-in;
	margin: 10px;
}
figure.zoom img:hover {
	opacity: 0;
}
figure.zoom img {
	transition: opacity 0.5s;
	display: block;
	width: 100%;
}

/* Footer & Meteo Marine */

.meteo {
	background-color: #1a6395;
	color: white;
	padding: 10px;
	text-align: center;
	max-width: 600px; /* Largeur maximale du rectangle */
    margin: 0 auto; /* Pour le centrer horizontalement */
	border: .1875rem solid #ffc400;
}

.meteo1 {
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 2.438rem;
	font-weight: 700;
}

.meteo2 {
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 2.438rem;
	font-style: italic;
	text-transform: uppercase;
}

.meteo3 {
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
	font-size: 1.1875rem;
	font-weight: 500;
	line-height: 1.938rem;
	text-transform: uppercase;
}

.form {
	background-color: #7f062a;
	color: white;
	padding: 10px;
	text-align: center;
	max-width: 600px; /* Largeur maximale du rectangle */
    margin: 0 auto; /* Pour le centrer horizontalement */
	border: .1875rem solid #ffc400;
}

/* Formulaire */

#result p {
	margin: 0;
}

#flex-container {
	display: flex;
	flex-direction: row;
}

#flex-item {
	flex: 1;
    padding: 20px;
}

.top {
	background-color: #7f062a;
    color: white;
}