body {
    font-family: "Comfortaa", sans-serif;
}

/* Style pour la liste déroulante */
.image-select {
    width: 200px;
}

/* Redimensionner les images comparées à 40% de la largeur de l'écran */
#image1, #image2 {
    width: 40%;
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

#comparisonResult {
    display: flex;
    justify-content: space-evenly; /* Espace égal entre les éléments flex */
}

#header {
    background-color: #1e2845;
    padding: 10px; /* Ajoutez du padding pour un meilleur espacement */
    text-align: center; /* Pour centrer le texte */
	margin: 0; !important
}

h1 {
    font-family: 'Comfortaa', sans-serif; /* Applique la police Comfortaa */
    color: #fff; /* Couleur du texte en blanc */
}

/* Styliser le tableau */
table {
    width: 95%;
    border-collapse: collapse;
    margin: 10px 0;
}

/* Réduire la taille des miniatures dans le tableau à 100px de hauteur */
table img {
    height: 100px;
    width: auto;
}

table, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7f062a;
    color: white;
}

td img {
    height: 100px;
    width: auto;
}

input[type="text"] {
    width: 100px; /* Vous pouvez ajuster cette valeur en fonction de la largeur souhaitée */
}