body {
    font-family: "Comfortaa", sans-serif;
	margin: 0px;
	transition: background-color 0.5s;
}

#centerdiv {
    display: flex;
    justify-content: center; /* Centre horizontalement */
	margin: 10px 0;
}

/* Style pour la liste déroulante */
.image-select {
    width: 200px;
}

/* Redimensionner les images comparées à 40% de la largeur de l'écran */
#image1, #image2 {
    width: 40%;
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

#comparisonResult {
    display: flex;
    justify-content: space-evenly; /* Espace égal entre les éléments flex */
}

#header {
    background-color: #1e2845;
    text-align: center; /* Pour centrer le texte */
}

.title-website {
	display: flex;
	justify-content: center; /* Centre horizontalement */
	/* float: left; */
	background-color: #1e2845;
	width: 100%;
}

h1 {
    font-family: 'Comfortaa', sans-serif; /* Applique la police Comfortaa */
    color: #fff; /* Couleur du texte en blanc */
	margin: 0;
	padding: 20px;
}

.h1-text {
    display: inline-block;
    vertical-align: middle;
}

img.logo {
    float: right; /* Vous pouvez utiliser "right" pour aligner à droite */
    margin-right: 10px; /* Ajoute de l'espace entre l'image et le texte */
	height: 150px;
}


.h1-first {
  background-color: #fff;
  color: #1e2845;
  text-transform: uppercase;
  padding: 12px 35px 5px 20px;
  font-weight: 600;
  float: left;
}

.h1-sec {
  border: 2px solid #fff;
  margin-top: 10px;
  float: left;
  color: #fff;
  padding: 12px 35px 5px 20px;
  font-weight: 300;
}

/* Styliser le tableau */
table {
    width: 100%;
    border-collapse: collapse;
	background: white;
}

/* Réduire la taille des miniatures dans le tableau à 100px de hauteur */
table img {
    height: 100px;
    width: auto;
}

table, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7f062a;
    color: white;
}

td img {
    height: 100px;
    width: auto;
}

input[type="text"] {
    width: 100px; /* Vous pouvez ajuster cette valeur en fonction de la largeur souhaitée */
}

.rectangle {
	background-color: #1a6395;
	color: white;
	padding: 10px;
	text-align: center;
	max-width: 600px; /* Largeur maximale du rectangle */
    margin: 0 auto; /* Pour le centrer horizontalement */
}

.main-text {
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 2.438rem;
	font-weight: 700;
}

.sub-text {
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 2.438rem;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
}

.location-text {
	font-family: 'Roboto', 'Roboto-fallback', sans-serif;
	font-size: 1.1875rem;
	font-weight: 500;
	line-height: 1.938rem;
	text-transform: uppercase;
}

#toggleButton {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}